@media (max-width: 1024px) {
  .device {
    display: flex;
  }

  #gloDevice {
    max-width: 60%;
  }

  .deviceDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .paragraphs {
    text-align: center;
  }

  #video {
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: 500px;
  }

  .videoDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 10px;
  }
}

@media (max-width: 957px) {
  .explanations {
    gap: 5px;
  }

  .secondContainer,
  .thirdContainer {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  p,
  h3,
  h4,
  h5 {
    color: #3d5567;
  }

  h1 {
    font-size: 30px;
  }
  .intro {
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
  }

  h2 {
    font-size: 28px;
    margin-top: 50px;
  }

  h5 {
    font-size: 20px;
    margin: 8px 0;
    padding: 0 15px;
  }

  .device {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #gloDevice {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .deviceParagraph {
    max-width: 100%;
    padding: 0 15px;
  }

  .products h3 {
    text-align: center;
    line-height: 30px;
  }

  .products p {
    padding: 0 15px;
  }

  .videoDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .explanations {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    gap: 10px;
  }

  .explanationParagraph {
    margin-top: 15px;
    font-size: 14px;
    padding: 0 15px;
  }

  .firstContainer.mobile {
    content-visibility: visible;
    padding: 0 15px;
  }

  .firstContainer.mobile p {
    text-align: left;
  }

  .firstContainer.mobile h4 {
    max-width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
  }

  .firstContainer.desktop {
    content-visibility: hidden;
  }

  .rightSide {
    flex-direction: column;
    max-width: 100%;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
  }

  .firstContainer {
    display: flex;
    flex-direction: column;
  }

  .secondContainer,
  .thirdContainer {
    max-width: 100%;
  }

  .images {
    max-width: 100%;
  }

  .warnings {
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
    margin-top: 15px;
    padding: 0 15px;
  }

  .warning1 {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .closingLine {
    flex-direction: column;
    max-width: 90%;
    margin-bottom: 50px;
  }

  #video {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 500px;
    height: auto;
  }
  .centerButton {
    display: flex;
  }
  .bttn {
    position: unset;
    transform: none;
  }
}
